body {
  padding: 0;
  margin: 0;
  font-size: 28px;
  font-family: "Dongle", sans-serif;
  scroll-behavior: smooth;
  overflow: hidden;
  overflow: scroll;
  overflow-x: hidden;
}
.each-container {
  background-color: rgba(0, 0, 0, 0.3);
}

#title {
  font-weight: bold;
  font-size: 1.8em;
  margin-bottom: 0px;
  margin-top: 0px;
}

.content {
  font-weight: 600;
  font-size: 0.9em;
  padding: 10px;
}

#page-nav-header {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0;
  border: 2px solid black;
  min-height: 80px;
}

.navbar-brand {
  margin-left: 20px;
}

.navbar-brand > a {
  text-decoration: none;
}

.navbar-brand h1 {
  color: black;
  font-size: 55px;
  font-weight: bold;
  margin-top: 10px;
  /* margin-bottom: 10px; */
  line-height: 30px;
}

.nav-header button.navbar-toggle.collapsed {
  clear: both;
  margin-top: -36px;
  border: 2px solid black;
}

.nav-header button.navbar-toggle {
  clear: both;
  margin-top: -36px;
  border: 2px solid #fff;
}

.nav-header .collapsed .icon-bar {
  border: 2px solid black;
}

.nav-header .icon-bar {
  border: 2px solid #fff;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px;
}

.nav > li {
  border: 1px solid black;
  background-color: #fff;
}

#nav-list li:last-child {
  border-bottom: 2px solid black;
}

#nav-list a:hover {
  background: none;
}

#nav-list a {
  color: black;
  font-weight: bold;
  padding: 0;
  padding-top: 6px;
  padding-bottom: 2px
}

h3 {
  font-size: 125%;
  padding: 5px 20px 5px 20px;
  margin: -2px -2px;
  font-weight: bolder;
}

@media (min-width: 1000px) {
  .col-lg-4 {
    float: left;
    padding: 15px;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

@media (max-width: 780px) {
  .col-sm-12 {
    float: left;
    padding: 18px;
  }
  .col-sm-12 {
    width: 100%;
    margin-top: 0px;
  }
}

@media (min-width: 781px) and (max-width: 1000px) {
  .col-md-6,
  .col-md-12 {
    float: left;
    padding: 15px;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
    margin-top: -10px;
  }
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
